<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who we are</h2>
<!--                     <h3 class="section-subheading text-muted">Que pasa USA.</h3> -->
                </div>
            </div>
            <div class="row section">
                <div class="col-lg-12">
                    <p class="large normal-text">CMR is a coalition of makers responding to the Covid-19 pandemic by manufacturing, assembling, and distributing 3D printed protective gear and other parts to the healthcare community on the front lines. CMR was founded by <a href="https://studio.cul.columbia.edu/2020/03/21/studio-librarians-face-shields/">librarians at Columbia University Libraries</a> and <a href="https://tangiblecreative.com/">Tangible Creative Inc.</a> and has progressed quickly to include <a href="https://www.makerbot.com/">MakerBot</a> and a growing list of service providers. The goal of CMR is to join the growing movement of coalitions working to manufacture, assemble, and distribute 3D printed parts to Hospitals in the NYC area as efficiently as possible—including so far, Columbia Presbyterian, Mount Sinai, Bronx Lebanon and St. Charles.</p>


                </div>
            </div>
            <br>
<div class="row text-center">
    <div class="col-md-6">
        <img src="/img/packaging.jpg" width="100%" alt="workers packaging shields">
    </div>
    <div class="col-md-6">
        <img src="/img/happy-health-workers.jpg" width="100%" alt="health workers wearing our shields">

    </div>
</div>
            </div>
        </div>
    </section>