<!-- Portfolio Grid Section -->
    <section id="donate" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Press Coverage</h2>
  
<li>ViceNews. <a href="https://twitter.com/vicenews/status/1243298834999992321">3D-Printed Face Shields Protecting Hospital Workers From Coronavirus</a></li>
<li>Fast Company. <a href="https://www.fastcompany.com/90482710/makers-are-rushing-to-fight-coronavirus-with-3d-printed-face-shields-and-test-swabs">Makers are rushing to fight coronavirus with 3D printed face shields and test swabs</a></li>
<li>Literary Hub. <a href="https://lithub.com/a-college-librarian-and-a-doctor-are-3-d-printing-protective-equipment-for-hospital-workers/">A college librarian and a doctor are 3-D printing protective equipment for hospital workers.</a></li>
<li>Columbia News. <a href="https://us7.campaign-archive.com/?e=&u=cc26d8788ee7d6f98dd0af14e&id=31f0a4316e">3D-Printed Protection</a></li>
<li>Protocol. <a href="https://www.protocol.com/how-to-help-coronavirus-tech">Want to use your tech skills to help during the pandemic? Here's how.</a></li>
<li>Politico. <a href="https://www.politico.com/states/new-york/albany/story/2020/03/31/everybodys-in-the-same-boat-coronavirus-drives-new-yorks-hospitals-to-breaking-point-1269943">‘Everybody’s in the same boat’: Coronavirus drives New York’s hospitals to breaking point</a></li>
<li>AM NY. <a href="https://www.amny.com/coronavirus/columbia-university-librarian-kickstarts-3d-printing-production-of-protective-face-shields/">Columbia University librarian kickstarts 3D printing production of protective face shields</a></li>
<li>Independent UK. <a href="https://www.independent.co.uk/news/world/americas/coronavirus-us-nurse-new-york-hospital-deaths-at-home-children-a9439551.html">‘Someone is dying in our unit every day’: Coronavirus nurse reveals horror of intensive care ward and how it’s completely changed her home life</a></li>
<li>NY1.</li>
<li>WNYW Fox 5, Good Day NY.</li>
<li>CNN. <a href="https://www.cnn.com/2020/04/07/health/librarian-3d-printing-coronavirus-trnd/index.html">This librarian is using 3D printing to help protect health care workers in NYC</a></li>
<li>Radio France Internationale. "></a></li>
<li>Andover. <a href="https://www.andover.edu/news/2020/andover-stories-a-news-roundup-to-make-you-smile">Andover Stories: A news roundup to make you smile</a></li>
<li>The Verge. <a href="https://www.theverge.com/2020/5/25/21264243/face-shields-diy-ppe-3d-printing-coronavirus-covid-maker-response">3D printers are on the front lines of the COVID-19 pandemic</a></li>
<li>MachineDesign. <a href="https://docs.google.com/spreadsheets/d/1KG2f1RQXVlBzkOg4IGtLRlD5dhc2zcE2zWgVyV0uChg/edit#gid=957743501">Making Lemonade Out of Supply Chain Disruptions</a></li>
    



<!--                 <div class="col-lg-12 text-center">
                <h2 class="section-heading">Donate to Tangible Creative</h2>
                <p style="font-size: 2rem;">Tangible Creative is a key manufacturing partner in this effort. Funds will go directly to them to support labor and material costs. <strong>Columbia University Libraries and MakerBot are not soliciting donations nor receiving money for this effort</strong>. Tangible Creative will be accepting funding via PayPal. Funds given to Tangible Creative, are not tax-deductible. To help with funds, you can visit the <a href <a href="https://www.gofundme.com/f/6kgjv-cmr" target="_blank">GoFundMe campaign</a>, or send fund directly <a href <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=info%40tangiblecreative.com&currency_code=USD&source=url" target="_blank">via PayPal</a>.</p> -->
<!-- <form action <a href="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="info@tangiblecreative.com" />
<input type="hidden" name="currency_code" value="USD" />
<input type="image" src <a href="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src <a href="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form> -->
<!-- <a href <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=info%40tangiblecreative.com&currency_code=USD&source=url"><img alt="PayPal button" border="0" src="/img/donate.png" width="20%"/></a> -->
<!-- </form> -->
                </div>
            </div>
        </div>
    </section>
