<!-- Portfolio Grid Section -->
    <section id="donate" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <h2 class="section-heading">Donate to Tangible Creative</h2>
                <p style="font-size: 2rem;">Tangible Creative Inc. is a key manufacturing partner in this effort. Donations will go directly to them to support labor and material costs. <strong>Columbia University Libraries and MakerBot are not solliciting donations nor receiving money from them</strong>. Tangible Creative Inc. will be accepting donations via PayPal. To donate click on the button below.</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="info@tangiblecreative.com" />
<input type="hidden" name="currency_code" value="USD" />
<input type="image" src="/img/donate.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" width="20%" />
<img alt="" border="0" src="/img/donate.png" width="1" height="1" />
</form>
                </div>
            </div>
        </div>
    </section>
