<!-- Portfolio Grid Section -->
    <section id="donate" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <h2 class="section-heading">Donate to Tangible Creative</h2>
                <p style="font-size: 2rem;">Tangible Creative Inc. is a key manufacturing partner in this effort. Donations will go directly to them to support labor and material costs. <strong>Columbia University Libraries and MakerBot are not soliciting donations nor receiving money for this effort</strong>. Tangible Creative Inc. will be accepting donations via PayPal. To donate click on the button below.</p>
<!--                 <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="info@tangiblecreative.com" />
<input type="hidden" name="currency_code" value="USD" />
<input type="image" src="/img/donate.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" width="20%" /> -->
<a href="https://www.paypal.com/donate/?token=-MR22wz7w4mcnsiFf8ZuW16UUNxoqqM8keVxoWOzjDe81GerlEeT8LhESUV1f435c-s6Im&fromUL=true" target="_blank"><img alt="" border="0" src="/img/donate.png" width="20%"/></a>
<!-- </form> -->
                </div>
            </div>
        </div>
    </section>
