<!-- Services Section -->
    <section id="resources">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resources</h2>
<!--                     <h3 class="section-subheading text-muted">Learn more about the resources available to you.</h3> -->
                </div>
            </div>


            <div class="row section">
                <div class="col-md-2">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-lg-8">
                    <h3 id="flip-lending-libraries">FLIP Lending Libraries:</h3>
                    <p>The FLIP Lending Libraries are meant to ease the financial burden of low-income students by providing textbooks for mandatory or popular classes. These coursebooks may be checked out at any time and returned whenever you are finished. Just send an email to the address on the sticker to let us know which books are currently checked out.</p>
                    <p>Please <a href="https://www.facebook.com/columbiaflip/">message our FB page</a> if you have books you would like to donate!</p>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-2">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-spoon fa-stack-1x fa-inverse"></i>

                    </span>
                </div>
                <div class="col-lg-8">                    
                    <h3 id="the-food-pantry-at-columbia">The Food Pantry At Columbia:</h3>
                    <p>Stop by during Open Hours (Mondays and Thursdays, 4-7 pm) at Lerner 582 to receive a disbursement of food, no prior appointment or scheduling required! If you can't make Open Hours or have any questions/concerns, please reach out at thefoodpantry@columbia.edu. The Food Pantry at Columbia serves all students attending Columbia University experiencing any level of food insecurity, regardless of school affiliation (graduate and undergraduate).</p>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-2">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-lg-8">
                    <h3 id="questbridge-flip-qflip-mentoring">Questbridge/ FLIP (QFLIP) Mentoring:</h3>
                    <p>A joint program between FLIP and QuestBridge, the QFLIP mentorship matches every QB first-year and any FLI first-year student who applies with a compatible upperclassman to serve as their mentor throughout the year. Regular events are hosted for the mentor/mentee groups to meet up and have fun with the various activities we help put on.</p>
                    <p>Mentees are primarily first-years from all four undergraduate schools (Barnard college, Columbia College, School of Engineering and Applied Science, and General Studies). Mentors may be any upperclassman.</p>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-2">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-lg-8">
                    <h3 id="columbia-first-generation-low-income-network-cflan">Columbia First-Generation, Low-Income Network (CFLAN):  </h3>
                    <p>Our network of FLI alumni is a fast-growing and easily accessible resource for students looking to gain some insight from those who have struggled exactly as we have. Frequent panels throughout the year invite back alumni to reflect on their time at Columbia and provide tips on navigating the career space after graduation. Any of the wonderful individuals in CFLAN are great connections to have and are more than willing to lend their wisdom to anyone who has a few questions.</p>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-2">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-lg-8">
                    <h3 id="deans-student-assistance-fund-dsaf-ccseas">Dean's Student Assistance Fund (DSAF) [CC/SEAS]:</h3>
                    <p>DSAF provides case-by-case funding for students who are unable to afford winter clothing, necessary medication, travel costs in the case of a family emergency, and various other unexpected expenses.</p>
                    <p>To apply you have to meet with a financial aid officer on the 6th floor of Lerner hall to discuss your situation. From there your request will be brought before a committee which will decide if you are eligible, and for how much.</p>
                    <p>These funds <strong>do not</strong> have to be paid back.</p>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-2">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-spoon fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-lg-8">
                    <h3 id="emergency-student-meal-vouchers-ccseasgs">Emergency Student Meal Vouchers [CC/SEAS/GS]:</h3>
                    <p>Columbia dining provides emergency meal vouchers to any student who requests them, whether or not that student is food insecure.</p>
                    <p>Simply go to JJ's Place dining hall between noon and 1 a.m. Ask to speak to the manager. Provide the manager with your UNI. You may request up to 6 meal vouchers per semester. Each voucher is good for one swipe at any of the three residential dining halls on Columbia's Morningside campus.</p>
                    <p>GS students may either email gshealthandwellness@columbia.edu to request swipes, or visit the Dean of Students office in 403 Lewisohn Hall.</p>
                    <p>These swipes are transferable from student to student, but they do expire at the end of each semester.</p>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-2">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-spoon fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-lg-8">
                    <h3 id="cu-meal-share">CU Meal Share:</h3>
                    <p>CU Meal Share is a Facebook group dedicated to help fight food insecurity on campus. Fellow Columbia students regularly post free food events and offer extra dining hall swipes.</p>
                    <p>Share Meals is an app meant to fulfill the same role as CU Meal Share, but with a larger focus on anonymity. From here you can also post free food events around campus and offer swipes at your own leisure.</p>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-2">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tags fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-lg-8">
                    <h3 id="the-annual-flip-coat-drive">The Annual FLIP Coat-Drive:</h3>
                    <p>Every year around early to mid-November, FLIP holds distribution day to provide warm coats to students for whom buying such clothing would present a financial difficulty. For students who cannot make it to distribution day, FLIP does set up appointments to come try on and take a coat.</p>
                    <p>We accept donations for new or lightly used winter-wear beginning around the start of October. What we do not reach in donations, we make sure to go out and buy extra coats so there is never any shortage.</p>
                </div>
            </div>
        </div>
    </section>